.main {
  padding: 0 200px;
  /* text-align: center; */
  background: linear-gradient(274.83deg, #5db0df 0.58%, #5d7adf 74.3%);
  height: 364px;
  color: #fff;
}

.description {
  /* font-weight: bold; */
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
